.customer-queue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .queue-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid blue;
  }
  