.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
}

h1 {
  margin-bottom: 20px;
}

.billing-counters {
  display: flex;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
  margin: 20px;
}

.counters {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.incoming-queue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid blue;
  margin-bottom: 10px;
}

.queue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.queue-customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.queue-customer .triangle {
  border-bottom: 20px solid green;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
.billing-counter-header{
  display: flex;
  justify-content: center;
  align-items: center;
}